@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../styles/Variables.scss';

h2, h3 {
    color: #32325D;
}
h6 {
    color: $orgColor;
    font-weight: 800;
}
.buttonSignOut{
    background-color: #00000000;
    &:hover{
        background-color: #000000;
        color: white;
    }
}

.dropdeets{
    li {
        padding: 0.5rem 1rem;
        &:hover{
            background-color: #368C9A40;
            cursor: pointer;
        }
    }
}