#Home {
  #Hero {
    background-color: #D9D9D9;
    //min-height: 75vh;
    background-size: cover;
    background-repeat: 'no-repeat';
    color: #32325D;
    color: #32325D;
  }
  #second {
    p {
      line-height: 2em;
    }
  }
  #third{
    p {
      line-height: 2.5em;
      color: #32325D;
    }
  }
  
  #fourth{
    p {
      line-height: 2em;
    }
  }
}
