@import '../styles/Variables.scss';

#Home {
  p {
    font-size: 18px;
  }
  #Hero {
    position: relative;
    background-color: #008080;
    // background: linear-gradient(#47cc76,#6AD1BE,#40B4C7);
    background-size: cover;
    background-repeat: 'no-repeat';
    color: #32325d;
  }

  .para {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .people {
    position: absolute;
    right: -22.5%;
    bottom: -1px;
    max-width: 100%;
  }

  #second {
    p {
      line-height: 2em;
    }
  }
  #third{
    p {
      line-height: 2.5em;
      color: #32325d;
    }
  }
  
  #fourth{
    p {
      line-height: 2em;
    }
  }
  h3  {
    font-size: 36px;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  h6  {
    font-size: 20px;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
}

#auth {
  #form {
    input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #000;
      background: transparent;
      padding: 1rem 0.5rem;
      &:focus, :active, :target, :focus-visible{
        border: 0;
        border-bottom: 1px solid $prim1Color;
      }
    }
  }
}
