

$prim1Color: #368C9A;
$orgColor: #F78104;

.text-Org {
    color: $orgColor;
}
.text-Pr {
    color: $prim1Color;
}
.bgOrg {
    background-color: $orgColor;
}
.bgPr {
    background-color: $prim1Color;
}